-
  var fontFamily=[
  '   Abadi MT Condensed Light   '   ,
  '   Albertus Extra Bold   '   ,
  '   Albertus Medium   '   ,
  '   Allegro   '   ,
  '   Amazone BT   '   ,
  '   AmerType Md BT   '   ,
  '   Antique Olive   '   ,
  '   Arial   '   ,
  '   Arial Black   '   ,
  '   Arial MT   '   ,
  '   Arial Narrow   '   ,
  '   Arrus BT   '   ,
  '   Aurora Cn BT   '   ,
  '   AvantGarde Bk BT   '   ,
  '   AvantGarde Md BT   '   ,
  '   BankGothic Md BT   '   ,
  '   Bazooka   '   ,
  '   Benguiat Bk BT   '   ,
  '   BernhardFashion BT   '   ,
  '   BernhardMod BT   '   ,
  '   BinnerD   '   ,
  '   Book Antiqua   '   ,
  '   Bookman Old Style   '   ,
  '   Boulder   '   ,
  '   Bremen Bd BT   '   ,
  '   CG Omega   '   ,
  '   CG Times   '   ,
  '   Calisto MT   '   ,
  '   Calligrapher   '   ,
  '   CaslonOpnface BT   '   ,
  '   Century Gothic   '   ,
  '   Century Schoolbook   '   ,
  '   Cezanne   '   ,
  '   Charlesworth   '   ,
  '   Charter BT   '   ,
  '   Charter Bd BT   '   ,
  '   Chaucer   '   ,
  '   ChelthmITC Bk BT   '   ,
  '   Clarendon Condensed   '   ,
  '   CloisterBlack BT   '   ,
  '   Comic Sans MS   '   ,
  '   CopperplGoth Bd BT   '   ,
  '   Copperplate Gothic Bold   '   ,
  '   Copperplate Gothic Light   '   ,
  '   Cornerstone   '   ,
  '   Coronet   '   ,
  '   Courier   '   ,
  '   Courier New   '   ,
  '   Cuckoo   '   ,
  '   Dauphin   '   ,
  '   Denmark   '   ,
  '   English 111 Vivace BT   '   ,
  '   EngraversGothic BT   '   ,
  '   Exotc350 Bd BT   '   ,
  '   Fransiscan   '   ,
  '   Freefrm721 Blk BT   '   ,
  '   FrnkGothITC Bk BT   '   ,
  '   Futura Bk BT   '   ,
  '   Futura Lt BT   '   ,
  '   Futura Md BT   '   ,
  '   Futura ZBlk BT   '   ,
  '   FuturaBlack BT   '   ,
  '   Galliard BT   '   ,
  '   Garamond   '   ,
  '   Geneva   '   ,
  '   GeoSlab 703 Lt BT   '   ,
  '   GeoSlab 703 XBd BT   '   ,
  '   Geometr231 BT   '   ,
  '   Geometr231 Hv BT   '   ,
  '   Geometr231 Lt BT   '   ,
  '   GoudyHandtooled BT   '   ,
  '   GoudyOLSt BT   '   ,
  '   Haettenschweiler   '   ,
  '   Heather   '   ,
  '   Helvetica   '   ,
  '   Herald   '   ,
  '   Humanst 521 Cn BT   '   ,
  '   Humanst521 BT   '   ,
  '   Humanst521 Lt BT   '   ,
  '   Impact   '   ,
  '   Incised901 BT   '   ,
  '   Incised901 Bd BT   '   ,
  '   Incised901 Lt BT   '   ,
  '   Informal011 BT   '   ,
  '   Jester   '   ,
  '   Kabel Bk BT   '   ,
  '   Kabel Ult BT   '   ,
  '   Kaufmann BT   '   ,
  '   Kaufmann Bd BT   '   ,
  '   Korinna BT   '   ,
  '   Letter Gothic   '   ,
  '   Lithograph   '   ,
  '   Lithograph Light   '   ,
  '   Long Island   '   ,
  '   Lucida Console   '   ,
  '   Lucida Handwriting   '   ,
  '   Lucida Sans   '   ,
  '   Lucida Sans Unicode   '   ,
  '   Lydian BT   '   ,
  '   MS LineDraw   '   ,
  '   Marigold   '   ,
  '   Market   '   ,
  '   Matisse ITC   '   ,
  '   Monotype Corsiva   '   ,
  '   News GothicMT   '   ,
  '   NewsGoth BT   '   ,
  '   OCR A Extended   '   ,
  '   Old Century   '   ,
  '   Onyx BT   '   ,
  '   OzHandicraft BT   '   ,
  '   PTBarnum BT   '   ,
  '   Pegasus   '   ,
  '   Pickwick   '   ,
  '   Poster   '   ,
  '   PosterBodoni BT   '   ,
  '   Pythagoras   '   ,
  '   Ribbon131 Bd BT   '   ,
  '   Sans-Serif   '   ,
  '   Sceptre   '   ,
  '   Serifa BT   '   ,
  '   Serifa Th BT   '   ,
  '   ShelleyVolante BT   '   ,
  '   Sherwood   '   ,
  '   Signboard   '   ,
  '   Socket   '   ,
  '   Souvenir Lt BT   '   ,
  '   Staccato222 BT   '   ,
  '   Steamer   '   ,
  '   Storybook   '   ,
  '   Subway   '   ,
  '   Swis721 BlkEx BT   '   ,
  '   Swiss911 XCm BT   '   ,
  '   Tahoma   '   ,
  '   Technical   '   ,
  '   Teletype   '   ,
  '   Tempus Sans ITC   '   ,
  '   Times   '   ,
  '   Times New Roman   '   ,
  '   Times New Roman PS   '   ,
  '   Trebuchet MS   '   ,
  '   Tristan   '   ,
  '   Tubular   '   ,
  '   TypoUpright BT   '   ,
  '   Unicorn   '   ,
  '   Univers   '   ,
  '   Univers Condensed   '   ,
  '   Vagabond   '   ,
  '   Verdana   '   ,
  '   Westminster  '   ,
  '   ZapfEllipt BT   '   ,
  '   ZapfHumnst BT   '   ,
  '   ZapfHumnst Dm BT   '   ,
  '   Zurich BlkEx BT   '   ,
  '  Zurich Ex BT  '
  ]
-
  var fontSize=
  [
    1,2,3,4,5,6,7
  ]
html
  head
    meta(charset="utf-8")
    title Editor
    link(rel='stylesheet' ,type='text/css',href='/css/editor.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    div#tools.tools
        select.btn.toolTabs.fontFamily
          each item in fontFamily
            option(style="font-family:"+item+";")= item
        select.btn.toolTabs.fontSize
          each item in fontSize
            option= item
        button.fontStyle.btn.toolTabs(title="bold")
          span.glyphicon.glyphicon-bold
        button.fontStyle.btn.toolTabs(title="italic")
          span.glyphicon.glyphicon-italic
        button.fontStyle.btn.toolTabs(title="underline")
          span.glyphicon.glyphicon-text-width
        button.fontAlignment.btn.toolTabs(title="leftAlign")
            span.glyphicon.glyphicon-align-left
        button.fontAlignment.btn.toolTabs(title="centerAlign")
            span.glyphicon.glyphicon-align-center
        button.fontAlignment.btn.toolTabs(title="rightAlign")
            span.glyphicon.glyphicon-align-right
        button.uploadImage.btn.toolTabs(title="Add image")
                span.glyphicon.glyphicon-picture
        button.textColor.btn.toolTabs(title="textColor")
                span.glyphicon.glyphicon-text-color
        button.textBgColor.btn.toolTabs(title="textBgColor")
                span.glyphicon.glyphicon-text-background

    div#writepad(contenteditable='true')
  footer(style="text-align: center")
      button#undo.btn.btn-danger.btn-lg(style="float:left")
        span.glyphicon.glyphicon-remove-sign undo
      button#publish.btn.btn-success.btn-lg(style="float:right")
       span.glyphicon.glyphicon-ok-sign preview
      button#saveArticle.btn.btn-primary.btn-lg
        span.glyphicon.glyphicon-saved save
  script(type='text/javascript',src='/editor.js')
